<h1>The Artists</h1>

<p>
  <%= link_to new_artist_path do %>
    <i class="fa fa-plus-circle" aria-hidden="true"></i> New Artist
  <% end %>
</p>

<div class="row">
  <% @artists.each do |artist| %>
    <div class="col-md-6">
      <div class="well">
        <div>
          <% if artist.avatar_file_name == nil %>
            <%= image_tag "microphone-icon.png", alt: "Artist Avatar Missing", class: "artist-pic" %>
          <% else %>
            <%= image_tag artist.avatar.url(:thumb), alt: "#{artist.name}", class: "artist-pic" %>
          <% end %>
        </div>
        <h2><%= link_to artist.name, artist %></h2>
        <p><em>songs include:</em></p>
        <p>
          <% if artist.songs.empty? %>
            No songs added yet!
          <% else %>
            "<%= artist.songs.sample.name %>" 
          <% end %>
        </p>
        
        <p>
          <%= link_to edit_artist_path(artist) do %>
            <i class="fa fa-scissors" aria-hidden="true"></i> Edit
          <% end %>
           | 
          <%= link_to artist, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i> Destroy
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
